.tableUsers {
  background-color: #fff;
}
.theadUser {
  height: 42px;
}
.nameCol {
  line-height: 42px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #9fa2b4;
}
.rowValueUser {
  height: 70px;
  line-height: 70px;
  font-weight: 600;
  font-size: 14px;
}
.avatarUserManager {
  width: 54px;
  height: 54px;
  background-size: cover;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 50%;
}
.customerName {
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.actionEdit,
.actionDelete {
  font-size: 14px;
  width: 84px;
  height: 30px;
  margin-left: 10px;
}

.actionDelete {
  margin-left: 100px;
}
