.homeMain{
    display: flex;
}

.detailRightContent{
    width: 100%;
    height: 100vh;
    background-color: #F0F7FD;
}
.detailRightContent.active{
    background-color: #ABCB9C;
}
.detailTopInformation{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px;
}
.detailId{
    color: #6160DC;
    font-size: 19px;
    font-weight: 700;
}


.detailUserInformation{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px;
    margin: 10px;
    
}
.detailUserInformation p{
    font-weight: 400;
}
.detailUserInformation h4{
    font-size: 20px;
    font-weight: 700;
    background-color: #D7D3D3;
    padding: 10px;
    margin-left: 50px;
}
.detailUserInformation :nth-child(3){
    width: 144px;
    height: 37px;
    margin-left: 114vh; 
    cursor: pointer;
}
.detailUserInformation button{
    width: 144px;
    height: 37px;
    background: #6160DC;
    border: #6160DC;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    
}


.detailImageAndTitle{
    display: flex;
    align-items: flex-end;
    margin: 20px 30px 20px;
}
.detailImageAndTitle img {
    width: 400px;
    height: 200px;
}
.detailImageAndTitle h2{
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 600;
}
.detailImageAndTitle h5{
    width: fit-content;
    background-color: #B099C7;
    margin-left: 25px;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
}


.detailReport{
    justify-self: center;
    width: 1200px;
    height: 300px;
    padding: 25px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 27.2308px 13.6154px 81.6923px rgba(0, 0, 0, 0.03);
    border-radius: 57px;

}


.detailComplete{
    padding: 6px;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 1100px;
    background-color: #4ABC3B;
}


.detailFitWindow{
    height: 62px;
}