.headerString{
    padding: 20px;
    color: #3751FE;
    font-weight: 700;
}  

.headerGuide{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 20px;
}

.contentString{
    text-align: center;
    font-weight: 600;
}

.text{
    color: #4754A2;
    font-weight: 700;
}

.item{
    padding-left: 200px;
    padding-top: 20px;
}

.image{
    
    width: 350px;
    height: 250px;
}
.image2{
    
    width: 550px;
    height: 350px;
}

.button{
    display: flex;
    align-items: center;
}

.routeIcon{
    transform: rotate(180deg);
}