.changePassword {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}

.listChangePassword {
  background: #f7fafc;
  padding: 30px 30px !important;
  margin: 20px 0;
}

.item {
  padding: 5px 0px;
}

.item label {
  width: 200px;
  font-size: 14px;
}

.item input {
  width: 325px;
  border-radius: 4px;
  padding: 3px 0;
}

.btnChangePassword {
  margin-bottom: 10px;
}

.btnChangePassword button {
  font-size: 14px;
  padding: 5px 25px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 10px;
}

.btnChangePassword button:hover {
  opacity: 0.6;
}

.textPassword li:first-child {
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  margin-left: 0;
  font-style: normal;
}

.textPassword li {
  list-style: circle;
  margin-left: 13px;
  font-style: italic;
  font-size: 16px;
}
