.headerString {
  padding: 20px;
  color: #3751fe;
  font-weight: 700;
  text-align: center;
}

.headerGuide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.contentString {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: #4754a2;
  margin: 50px 0;
}

.text {
  color: #4754a2;
  font-weight: 700;
}

.item {
  padding-left: 50px;
  padding-top: 20px;
}

.image {
  width: 440px;
  height: 150px;
}
.image2 {
  width: 550px;
  height: 350px;
}

.button {
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: center;
}

.button img {
  width: 35px;
  color: #4754a2;
}
