
h1 {
    text-align: center;
    color: #0075FF;
    font-size: 30px;
    padding-top: 10px;
}

.sideBar {
    text-align: center;
    border-right: 1px solid #4444;
    height: 1000px;
    padding: 0;
}

.sideBar__statistic {
    justify-content: start;
    align-items: center;
    padding: 15px 0 15px 60px;
    width: 100%;
    transition: 0.5s;
}

.sideBar__statistic:hover {
    background: #0075FF;
    cursor: pointer;
}

 .sideBar__statistic:hover p {
    color: white;
    opacity: 1;
 }

.sideBar__statistic p {
    color: #0075FF;
    padding-left: 15px;
}