.homeMain{
    display: flex;
}

.homeTabContents{
    flex-basis: 84%;
}

.homeLeftControl{
    background-color: rgb(255, 255, 255);
    flex-basis: 16%;
}
.homeLeftControl h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    opacity: 50%;
    margin-top: 28px;
    margin-left: 50px;
    margin-bottom: 28px;
}

.homeTabs{
    
}
.homeTabItem{
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start ;
}
.homeTabItem.active{
    background-color: rgba(100, 181, 246, 0.3);
    border-left: 4px solid #0075FF;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2% ;
}

.homeTabItem img{
    width: 17px;
    height: 17px;
    margin-right: 18px;
}
.homeTabItem:nth-child(2) img {
    width: 17px;
    height: 18px;
}
.homeTabItem:nth-child(3) img {
    height: 15px;
}
.homeTabItem p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #0075FF;
}
.homeDecs{
    position: absolute;
    width: 16%;
    bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.homeDecs h3{
    font-size: 16px;
    font-weight: 550;
    margin: 17px;
}
.homeDecs p{
    font-size: 14px;
    opacity: 0.5;
    margin: 10px;
}
.homeDecs img{
    width: 100%;
    height: 0.5px;
    opacity: 0.5;
}
