.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #4444;
}

.headerNavigation {
  display: flex;
  justify-content: center;
  color: none;
  background-color: unset;
  width: 1015px;
  height: unset;
  line-height: 18px;
  -webkit-box-shadow: none;
}

.headerNavigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
  text-decoration: none;
  transition: 0.5s;
}

.headerNavigation a:hover {
  opacity: 0.7;
  background-color: unset;
}

.headerNavigation li {
  margin-top: 20px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid transparent;
}

.headerNavigation li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 2px;
  width: 100%;
  background-color: #5d5fef;
  transform: scale(0);
  transition: 0.5s linear;
}

.headerNavigation li:hover::before {
  transition: 0.3s;
  transform: scale(1);
}

.headerNavigation a img {
  padding-right: 5px;
}

.headerLogin {
  padding: 10px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: unset;
  transition: 0.5s;
}

.headerLogin:hover {
  cursor: pointer;
}

.headerLogin:hover  {
    cursor: pointer;
}

.headerLogin a:hover {
  opacity: 0.7;
}

.headerLogin img {
  padding-right: 5px;
}

p {
  color: black;
  font-size: 18px;
  margin-top: none;
  margin-bottom: unset;
  margin: unset;
}

.signOutText {
  width: 70px;
}
