.reportsMain{
    display: flex;
}
.reportsRight{
    flex-basis: 84%;
    margin-top: 50px;
}
.reportsTitle{
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}
.reportsTasksTabs{
    display: flex;
    position: absolute;
    right: 50px;
}
.reportsTasks{
    cursor: pointer;
    color: #6160DC;
}
.reportsTasks.active{
    cursor: pointer;
    color: #6160DC;
    font-weight: 600;
}


.reportsList{
    margin-top: 60px;
}