* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  color: #333;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1700px;
}

a {
  text-decoration: none !important;
}
nav ul a:hover {
  background-color: #fff;
  cursor: pointer;
}
