.activeCamera {
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeCamera img {
    width: 90%;
}

.activeCamraImage {
    border: 1px solid #4444;
    height: 85vh;
    width: 85vw;
    border-radius: 25px;
}

.speaker
{
    text-align: center;
    padding-left: 15px;
}